.heroSection {
    background-color: var(--color-blanco);
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;



}




.heroSection::before,
.heroSection::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100vh;
    width: 30%;
    right: 0;
    background-color: black;
    z-index: 10;
    animation: slideWidth 1s ease-in-out forwards;
    


}


.heroSection .container {
    height: 100vh;




}


.heroSection .container img {
    position: relative;
}


.heroSection .container .icons li a ion-icon {
    font-size: 1.5em;
}


.heroSection .text-blend {
    color: black;
}

.heroSection .text-blendBottom {
    color: hsl(0, 0%, 11%)
}


@media screen and (max-width: 760px) {
    @keyframes slideWidth {
        from {
            width: 30%;
        }

        to {
            width: 100%;
        }
    }

    .heroSection .text-blend {
        color: var(--color-blanco);

    }

    .heroSection .text-blendBottom {
        color: var(--color-blanco)
    }




    .heroSection .text-blendGradient {
        background: linear-gradient(0deg, rgba(73, 118, 237, 1) 25%, rgba(246, 246, 246, 1) 100%);
        background-clip: text;
    }



}


@media screen and (width > 200px) {

    .heroSection .text-blend {
        mix-blend-mode: difference;
    }

}



/* Perfil como Diseñador Web */

.designWeb {
    height: 100vh;
    width: 100vw;
}

.designWeb .white-box {
    background-color: var(--color-blanco);
   

}


.designWeb .white-box .mini-box {
    background-color: var(--color-blanco);
    height: 50%;




}

.designWeb .middle-box {
    background: url('../img/avatar.webp') rgb(16, 16, 16) 80%;
    background-repeat: no-repeat;
    background-size: cover;
  

    
}



.designWeb .dark-box {
    background-color: black;
  

}


.designWeb .design-Links li a ion-icon {
    color: black;
    font-size: 20px;

}

@media screen and (max-width: 1023px) {

    .designWeb .dark-box {
        height: 1000px;
        width: 100%;
        z-index: 10;
        margin-bottom: 20px;

    }

    .slideContent {
        
        height: 100vh;
    }
    

    .heroSection .designWeb {
       
        margin-bottom: 380px;

    }

}


@media screen and (max-width: 860px) {

    .designWeb .dark-box {
        height: 800px;
        width: 100%;

    }

    .slideContent {
        margin-top: 20%;
        height: 100vh;
    }

    .heroSection .designWeb {
        margin-bottom: 200px;

    }
    

}


@media screen and (max-width: 760px) {
    .designWeb .white-box {
        background-color: var(--color-blanco);
        width: 100%;
        height: 350px;
    }



    

 





}


/* Carrusel */
.slideContent {
    height: 100vh;
}

.sliderSection {
    height: 100vh;
}



.sliderSection .swiperSlideSection {
    height: 100vh;
    overflow: hidden;
}


.swiperSlideSection .swiperSlideText {
    width: 40vw;
    height: 100%;
    
}

.swiperSlideSection .swiperSlideImage {
    width: 60vw;
    
    height: 70vh;
    
}

 /* .sliderSection .swiper-pagination {
    position: absolute;
    bottom: 10px;
 
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    transform: translateX(10%);
    max-width: 5vw;
    align-items: center;
}  */

/* .sliderSection .swiper-pagination::before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 1px;
    height: 80%;
    z-index: 1;
} */


.button-prev-slide ion-icon, .button-next-slide ion-icon{
    color: #000;
    font-size: 3em;
    
}


/* .sliderSection .swiper-pagination-bullet {
    background-color: var(--color-morado);
    height: 20px;
    width: 20px;
    border-radius: 0px;
    opacity: 1;
    z-index: 2;
}

.sliderSection .swiper-pagination-bullet-active{
    background: linear-gradient(180deg, #A48BD1 0%, #000 100%);
} */


.sliderSection .projectButtons {
   width: 70%;
   opacity: 0;
   transition: 0.5s;
}

.sliderSection .projectButtons .card {
    height: 100px;
    min-height: 100px;
   
}

.sliderSection .contenedorImage:hover .projectButtons {
    opacity: 1;
    
}


@media screen and (max-width: 760px){

   
    .swiperSlideSection .swiperSlideText {
        width: 94vw;
        margin: auto;
    
       
    }

 


    .swiperSlideSection .swiperSlideImage {
        width: 94vw;
        margin: auto;
        
     
    }


    .sliderSection .swiper-pagination {
        display: none;
    
    
    }

    .button-prev-slide ion-icon, .button-next-slide ion-icon{
        color: white;
        
    }
}




@media screen and (max-width: 400px) {

    .heroSection .designWeb { 
        margin-bottom: 200px;

    }

}


@media screen and (max-width: 361px) {

    .heroSection .designWeb { 
        margin-bottom: 290px;

    }

}