.heroSection {
    background-color: var(--color-blanco);
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;



}

.heroSection::before,
.heroSection::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100vh;
    width: 30%;
    right: 0;
    background-color: black;
    z-index: 10;
    animation: slideWidth 1s ease-in-out forwards;


}


.heroSection .container {
    height: 100vh;


}


.heroSection .container img {
    position: relative;
}


.heroSection .container .icons li a ion-icon {
    font-size: 1.5em;
}


.heroSection .text-blend {
    color: black;
}

.heroSection .text-blendBottom {
    color: hsl(0, 0%, 11%)
}


@media screen and (max-width: 760px) {
    @keyframes slideWidth {
        from {
            width: 30%;
        }

        to {
            width: 100%;
        }
    }

    .heroSection .text-blend {
        color: var(--color-blanco);

    }

    .heroSection .text-blendBottom {
        color: var(--color-blanco)
    }




    .heroSection .text-blendGradient {
        background: linear-gradient(0deg, rgba(73, 118, 237, 1) 25%, rgba(246, 246, 246, 1) 100%);
        background-clip: text;
    }



}


@media screen and (width > 200px) {

    .heroSection .text-blend {
        mix-blend-mode: difference;
    }




}