.heroSection {
    background-color: var(--color-blanco);
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;



}

.heroSection::before,
.heroSection::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100vh;
    width: 30%;
    right: 0;
    background-color: black;
    z-index: 10;
    animation: slideWidth 1s ease-in-out forwards;


}


.heroSection .container {
    height: 100vh;
    



}


.heroSection .container img {
    position: relative;
}


.heroSection .container .icons li a ion-icon {
    font-size: 1.5em;
}


.heroSection .text-blend {
    color: black;
}

.heroSection .text-blendBottom {
    color: hsl(0, 0%, 11%)
}


@media screen and (max-width: 760px) {
    @keyframes slideWidth {
        from {
            width: 30%;
        }

        to {
            width: 100%;
        }
    }

    .heroSection .text-blend {
        color: var(--color-blanco);

    }

    .heroSection .text-blendBottom {
        color: var(--color-blanco)
    }




    .heroSection .text-blendGradient {
        background: linear-gradient(0deg, rgba(73, 118, 237, 1) 25%, rgba(246, 246, 246, 1) 100%);
        background-clip: text;
    }



}


@media screen and (width > 200px) {

    .heroSection .text-blend {
        mix-blend-mode: difference;
    }

}



/* Perfil como Diseñador Web */

.designWeb {
    height: 100vh;
    width: 100vw;
}

.designWeb .white-box {
    background-color: var(--color-blanco);
    width: 30%;

}


.designWeb .white-box .mini-box {
    background-color: var(--color-blanco);
    height: 50%;
    
    
    
    
}

.designWeb .middle-box {
    background: url('../img/avatar.png') rgb(16, 16, 16) 80%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
}



.designWeb .dark-box {
    background-color: black;
    width: 30%;

}


.designWeb .design-Links li a ion-icon {
    color: black;
    font-size: 20px;
    
}


@media screen and (max-width: 760px) {
    .designWeb .white-box {
        background-color: var(--color-blanco);
        width: 100%;
        height: 50vh;
    }
    
    
 
    .designWeb .middle-box {
        min-height: 50vh;
        width: 100%;
    }
    
    
    
    .designWeb .dark-box {
        min-height: 100vh;
        width: 100%;
    
    }

}