

.navbar {
    position: fixed;
    top: 0;
}
.menu .item a{
    color: var(--color-blanco);
}

@media screen and (width > 200px) {

    .logo {
        mix-blend-mode: difference;
    }




}

.logo {
    mix-blend-mode: difference;
}