@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  --color-morado: #A48BD1;
  --color-celeste: #4976E;
  --color-blanco: #F6F6F6;
  background-color: var(--color-blanco);
}